* {
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width:768px){
    .container {
        width: 750px;
    }
}

@media (min-width:992px){
    .container {
        width: 970px;
    }
}

@media (min-width:1200px){
    .container {
        width: 1170px;
    }
}

header {
    padding: 20px;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    text-transform: capitalize;
    border: 1px solid #000;
    border-radius: 3px;
    padding: 5px 10px;
}

nav ul {
    padding-left: 0;
    list-style: none;
}

nav ul li {
    display: inline-block;
    margin-left: 15px;
}

nav ul li a {
    text-transform: capitalize;
    color: #000;
    text-decoration: none;
}

@media (max-width:768px) {
    nav {
        display: none;
    }
}

.container .icon {
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}


.container .icon span {
    background-color: #000;
    height: 2px;
    margin-bottom: 5px;
}

.container .icon span:first-child {
    width: 100%;
}

.container .icon span:nth-child(2) {
    width: 50%;
}

.container .icon span:last-child {
    width: 100%;
}

@media (min-width:768px) {
    .container .icon {
        display: none;
    }
}


.main {
    margin-top: 60px;
}

.main .container {
    display: flex;
    align-items: center;
}

@media (max-width:768px) {
    .main .container {
        flex-direction: column;
    }
}

.main .container .pic img {
    width: 300px;
}

@media (max-width:768px) {
    .main .container .pic img {
        max-width: 100%;
    }
}

.main .container .text {
    text-transform: capitalize;
    margin-left: 20px;
}

@media (max-width:768px) {
    .main .container .text {
        margin-left: 0;
    }
}

.main .container .text h2 {
    font-size: 1.2em;
    margin-bottom: 0;
    color: #719188;
}

.main .container .text h1 {
    font-size: 3em;
    letter-spacing: -2px;
}

.main .container .text p {
    line-height: 1.6;
    margin-bottom: 25px;
}

.main .container .text .btn {
    text-transform: capitalize;
    color: #fff;
    background-color: #719188;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.7s ease;
    margin-bottom: 10px;
}

.main .container .text .btn:hover {
    background-color: #6d857e;
    transform: scale(1.1);
}
